<!DOCTYPE html>
<html lang="en">

<%- include('header'); -%>

	<body>
		<div class="container">
			<h1>
				<%= title %>
			</h1>
			<p>Welcome to <%= title %>
			</p>
		</div>

		<div class="container">
			<div class="d-flex justify-content-around">
				<div class="col-7">
					<div class="d-flex flex-column justify-content-center align-items-center overlay visually-hidden">
						<div class="spinner-border text-warning" role="status">
						</div>
						<h3>Loading...</h3>
					</div>
					<ul id="product-list-area" class="list-group">
					</ul>
				</div>

				<div class="col-3">
					<form id="productRegisterForm" enctype="multipart/form-data">
						<div class="mb-3">
							<label for="product_name" class="form-label">상품명</label>
							<input type="text" class="form-control" name="name" id="product_name">
						</div>
						<div class="mb-3">
							<label for="product_details" class="form-label">상품 설명</label>
							<textarea class="form-control" name="details" cols="30" rows="5"
								id="product_details"></textarea>
						</div>
						<div class="mb-3">
							<label for="productRegiserFormFile" class="form-label">상품 사진</label>
							<input class="form-control" type="file" name="images" id="productRegiserFormFile"
								accept="image/*" multiple>
							<div class="border border-primary" id="productRegiserFormFilePreview">
							</div>
						</div>
						<div class="mb-3 d-flex justify-content-center">
							<button class="btn btn-primary" type="button" id="productRegistrationSubmitBtn">등록</button>
						</div>
					</form>

					<form class="visually-hidden" id="productModifyForm">
						<div class="mb-3">
							<button type="button" class="btn btn-secondary" id="returnToList">돌아가기</button>
						</div>
						<div class="mb-3">
							<label for="product_name" class="form-label">상품명</label>
							<input type="text" class="form-control" name="name" id="product_name">
						</div>
						<div class="mb-3">
							<label for="product_details" class="form-label">상품 설명</label>
							<textarea class="form-control" name="details" cols="30" rows="5"
								id="product_details"></textarea>
						</div>
						<div class="mb-3">
							<label for="formFileMultiple" class="form-label">상품 사진</label>
							<input class="form-control" type="file" id="formFileMultiple" accept="image/*" multiple>
						</div>
						<div class="mb-3 d-flex justify-content-center">
							<button class="btn btn-warning" type="button" id="productModificationSubmitBtn">정보
								수정</button>
						</div>

					</form>
				</div>
			</div>
		</div>


	</body>
	<script src="javascripts/product/list.js"></script>
	<script src="javascripts/product/register.js"></script>
	<script src="javascripts/product/modify.js"></script>
	<script src="javascripts/product/remove.js"></script>
	<script src="javascripts/product/like.js"></script>

</html>